.formGroup {
  width: 100%;
  display: flex !important;
}

.label {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 0;
}

.select {
  flex-grow: 1;
  display: inline-block !important;
  width: auto !important;
  vertical-align: middle !important;
}

.added {
  background-color: #e6ffed;
}

.removed {
  background-color: #ffeef0;
}

.image {
  width: 100%;
  height: auto;
    float: right;

  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

@media (min-width: 576px) {
  .image {
    width: auto;
    max-height: 240px;

    max-width: 100%;
  }
}
