.background {
  background-color: #a47870;
  background-image: url('./birds.jpg');
  border-radius: 0 !important;
  background-position: center;
  background-size: 150% auto;
}

@media (min-width: 768px) {
  .background {
    background-position: inherit;
  }
}

.header {
  font-size: 4.0rem;
  font-weight: 400;
  line-height: 1.2;
}

